<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="OrganizationId" value="1" />
    <add key="ApplicationId" value="1" />
    <add key="RequestUrl" value="https://api-campaign-us-4.goacoustic.com/XMLAPI" />
    <add key="LoginRequestUrl" value="https://api-campaign-us-4.goacoustic.com/oauth/token" />
  
    <add key="ClientId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxx" />
    <add key="ClientSecret" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
    <add key="RefreshToken" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxx" />

  </appSettings>
</configuration>